<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="info-form">
            <form  method="POST">
                <div class="signup-form">
                    <h1>Yor Information</h1>

                    <p>Change and Submit to Edit</p>
                    <input type="hidden" name="form-name" value="sign-up-form">
                    <div class="signup-input">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="name" class="" name="name">
                    </div>
                    <div class="signup-input">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="email" class="" name="email">
                    </div>
                    <div class="signup-input">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="password" class="" name="password">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-university"></i>
                        <input type="text" placeholder="organization" class="" name="organization">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-address-book-o"></i>
                        <input type="text" placeholder="address" class="" name="address">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-dot-circle-o"></i>
                        <input type="text" placeholder="city" class="" name="city">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-pagelines"></i>
                        <input type="text" placeholder="satate" class="" name="state">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-globe"></i>
                        <input type="text" placeholder="country" class="" name="country">
                    </div>
                    <div class="signup-input">
                        <i class="fa fa-address-card-o"></i>
                        <input type="text" placeholder="postal code" class="" name="postalcode">
                    </div>
                    <button class="signup-button">sign in</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>